header {
	background-color: #ADD8E6;
}
header h1 {
	color: #000000;
}
nav {
	border-bottom: 2px solid black;
}
nav ul li a {
	font-size: 18px;
}
footer {
	text-align: center;
}
.box {
	background-color: #CCAA66;
	padding: 20px;
}